@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(245, 245, 245);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 160px 24px 160px;
  margin-bottom: 30px;
  width: 70%;
  margin: 0 auto;
}

.headerText {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.header_btn {
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  padding: 15px 30px 15px 30px;
  background-color: white;
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.header_btn:hover {
  transition: 0.3s;
  color: white;
  background-color: rgb(0, 106, 80);
}

.banner_section {
  border-radius: 24px;
  width: 70%;
  margin: 0 auto;
  background: rgb(198, 228, 214);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.banner-left-side {
  padding: 80px 100px 80px 100px;
}

.banner-text {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.banner-desc {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.banner-btn {
  border-radius: 8px;
  padding: 17px 34px 17px 34px;
  background: rgb(0, 106, 80);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.banner-btn:hover {
  transition: 0.3s;
  background: #f72c5b;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
}

.primary_text {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.Pillars_of_Bangladesh {
  margin-bottom: 30px;
}

.main_Pillars_Container {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}

.main_Pillars_items {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 24px;
  background: rgb(255, 255, 255);
}
.main_Pillars_items h4 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin: 10px;
}

.main_Pillars_items p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

.The-Vision-of-Future {
  margin-top: 80px;
  margin-bottom: 30px;
}

.The-Vision-of-FutureContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24;
  padding: 0px;
}

/* .The-Vision-of-Future p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 20px;
} */

.primary_desc {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 20px;
}

.The-Vision-of-Future_btn {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px 11px 20px;
  text-align: left;
  border: none;
  background: rgb(84, 144, 245);
  margin: 10px;
  cursor: pointer;
}

.The-Vision-of-Future_btn:hover {
  background-color: #8d0b41;
  transition: 0.3s;
}
.The-Vision-of-Future_btn_1:hover {
  background-color: #8d0b41;
  transition: 0.3s;
}

.The-Vision-of-Future_btn_2:hover {
  background-color: #8d0b41;
  transition: 0.3s;
}

.The-Vision-of-Future_btn_1 {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px 11px 20px;
  text-align: left;
  border: none;
  border-radius: 8px;
  background: rgb(9, 161, 92);
  margin: 10px;
}

.The-Vision-of-Future_btn_2 {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px 11px 20px;
  text-align: left;
  border: none;
  border-radius: 8px;
  background: rgb(255, 194, 57);
  margin: 10px;
}

.main_Pillars_items-1 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  padding: 24px;
}

.main_Pillars_items-1 img {
  margin: 10px;
}

.main_Pillars_items-2 img {
  margin: 10px;
}

.main_Pillars_items-3 img {
  margin: 10px;
}

.main_Pillars_items-1 h4 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin: 10px;
}

.main_Pillars_items-1 p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

.main_Pillars_items-2 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  padding: 24px;
}

.main_Pillars_items-2 h4 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin: 10px;
}

.main_Pillars_items-2 p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

.main_Pillars_items-3 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
  padding: 24px;
}

.main_Pillars_items-3 h4 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin: 10px;
}

.main_Pillars_items-3 p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

.The-Vision-of-FutureContainer {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}
.Recent_News {
  margin-bottom: 20px;
}
.recent_news_container {
  margin-top: 40px;
  padding: 48px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.recent_news_container_image_1 img {
  border-radius: 24px;
}

.recent_news_content h1 {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.recent_news_content img {
  margin-top: 10px;
}

.recent_news_time {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
}

.recent_img {
  width: 410px;
  height: 310px;
}

.recent_desc {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 24px;
  letter-spacing: 0%;
}

.recent_btn {
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 13px 26px 13px 26px;
  background: rgb(0, 106, 80);
  margin-top: 32px;
}

.recent_btn:hover {
  background-color: #f72c5b;
  transition: 0.3s;
}

.Donate_Today {
  text-align: center;
}

.donate_today_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 30px;
}

.taka1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 40px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  background: rgb(255, 255, 255);
}

.taka1:hover {
  background-color: #8d0b41;
  transition: 0.3s;
  color: white;
}

.bg_clor {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(198, 228, 214);
}

.other_amount_tka {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  padding: 20px 40px 20px 40px;
  margin-top: 30px;
}

.other_amount_tka h1 {
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
}

.other_amount_tka_btn {
  text-align: center;
  margin-bottom: 20px;
}

.Subscribe_container h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.Subscribe_container p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}

.bg-color {
  border-radius: 24px;
  padding: 80px 100px 80px 100px;
  background: rgb(198, 228, 214);
  margin-bottom: 30px;
}

.Subscribe_form {
  text-align: center;
  margin-top: 30px;
}
input {
  border-radius: 8px 0px 0px 8px;
  padding: 18px 40px 18px 40px;
  border: none;
  background: rgb(255, 255, 255);
}

.Subscribe_btn {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 0px 8px 8px 0px;
  padding: 13px 40px 16px 40px;
  background: rgb(0, 106, 80);
}

.Subscribe_desc {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}

.footer_container {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;

  text-align: center;
  margin-bottom: 10px;
}
hr {
  width: 70%;
  margin: 0 auto;
}

.footer_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
